apiVersion: v1
kind: Service
metadata:
  name: locust-master
  namespace: load-testing
  labels:
    app: locust
    role: master
spec:
  type: ClusterIP  # Changed from LoadBalancer - access via port-forward
  selector:
    app: locust
    role: master
  ports:
  - name: web
    port: 8089
    targetPort: 8089
    protocol: TCP
  - name: master
    port: 5557
    targetPort: 5557
    protocol: TCP
